* {
  box-sizing: border-box;
	list-style-type: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

ul {
	padding: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background {
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 1rem 2rem;
  margin: 6rem 0;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
	display: none !important;
}

/* Styles for victory screen */

.victory {
  display: none;
  font-size: 3rem;
  padding-top: 5rem;
  font-weight: bold;
}

.victory-icon {
  font-size: 3.5rem;
}

.victory .restart {
  cursor: pointer;
  font-size: 2rem;
}

.score {
  margin-top: 0px;
  font-size: 1rem;
  margin-bottom: 0px;
}

h1 {
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  min-height: 680px;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.card {
  height: 125px;
  width: 125px;
	margin: .5rem;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.open {
  background: #02b3e4;
  cursor: default;
}

.show {
  font-size: 2rem;
}

.match {
  cursor: default;
  background: #02ccba;
  font-size: 2rem;
}
.wrong {
  background: #ff1919;
  animation: shake 0.5s;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: center;
  width: 100%;
  margin-bottom: .5rem;

	small {
		margin: .5rem;
	}
}

.stars {
  padding: 0;
  display: inline-block;
  margin: .5rem;

	li {
	  list-style: none;
	  display: inline-block;
	}
}

.restart {
  display: inline-block;
  cursor: pointer;
  margin: .5rem;
}

.option {
  display: inline-block;
  cursor: pointer;
  margin: .5rem;
}

/* Styles for the options menu */
.options-menu {
  display: none;
  margin: 0 auto;
	justify-content: center;

	button {
		border: none;
		margin: 0 .5rem;
		border-radius: 10px;
		padding: .5rem 1rem;
		background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
	}
}

/* minor breakpoint for victory screen */

@media screen and (max-width: 750px) {
  .victory {
    width: 95%;
    text-align: center;
    display: none;
    font-size: 3rem;
    padding-top: 1rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 660px) {

  /* responsive score-panel css  */

  .score-panel {
    width: 100%;
    padding: .5rem;
    margin-bottom: .5rem;
  }

  /* responsive deck css */

  .deck {
    width: 95%;
    min-height: 100%;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
	}

  .card {
    height: 125px;
    width: 125px;
    margin: 10px auto;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  }

  /* responsive victory css */
  .victory {
    width: 100%;
    text-align: center;
    display: none;
    font-size: 3rem;
    padding: 1rem;
    font-weight: bold;

		div {
			cursor: pointer;
			font-size: 2rem;
		}
  }

  .victory-icon {
    font-size: 2.5em;
  }

  .score {
    margin-top: 0;
    font-size: .8rem;
    margin-bottom: 0;
  }

}

@media screen and (max-width: 330px) {
  .deck {
    width: 95%;
    min-height: 100%;
    padding: 32px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;

		li {
	    height: 125px;
	    width: 115px;
	    margin: 10px auto;
	    background: #2e3d49;
	    font-size: 0;
	    color: #ffffff;
	    border-radius: 8px;
	    cursor: pointer;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
	  }
	}
}

/* Shake animation for cards */

@keyframes shake {
  10%, 90% {
  transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
  transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
  transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
  transform: translate3d(4px, 0, 0);
  }
}
